<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Command Dispatcher</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<p th:if="${info != null}" th:text="${info}"/>
	</div>

	<form th:action="@{/command-dispatcher}" th:object="${command}" method="post">
		<label for="datapoint">Actuator: </label>
		<input type="text" th:field="*{actuatorId}" th:required="required"/>
		<br/>
		<label for="datapoint">Datapoint: </label>
		<input type="text" th:field="*{datapointId}" th:required="required"/>
		<br/>
		<label for="datapoint">Command: </label>
		<input type="text" th:field="*{command}" th:required="required"/>
		<br/>
		<input type="submit" value="Dispatch Command" />
	</form>
</body>
</html>